<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool form</title>
</head>
<body>
  <header>
    <div class="title">
      <h1>Cool form</h1>
    </div>
    <!-- <div class="utils">
      <button id="clickMe">Click me</button>
    </div> -->
  </header>

  <main>
    <div class="form">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" />
        </div>

        <div class="form-group">
          <label for="name">Nickname</label>
          <input type="text" id="nickName" name="nickName" placeholder="Nickname" />
        </div>

        <div class="form-group">
          <button type="submit">Set 🚀</button>
        </div>

        <div id="alert" class="alert"></div>
      </form>
    </div>

    <section class="infos">
      <p></p>
    </section>
  </main>

  <script src="../../dist/bundle.js"></script>
</body>
</html>